*{
    margin:0;
}

body{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}

.header, footer{
    flex: 0 1 80px;
}

.header{
    background-color:red;
}

.footer{
    background-color:orange
}

.container{
    background-color:blue;
    flex: 1;
}